@page "/"
@page "/index.html"
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>
    <button class="btn btn-primary" @onclick="changeText">텍스트 바꾸기</button>
</p>

<p>
    <button class="btn btn-primary" @onclick="changeTextColor">텍스트 색상 바꾸기</button>
</p>

<p>
    <button class="btn btn-primary" @onclick="changeTextSize">텍스트 크기 바꾸기</button>
</p>

@code {

    private async Task changeText() {
        await JSRuntime.InvokeVoidAsync("changeText");
    }

    private async Task changeTextColor() {
        await JSRuntime.InvokeVoidAsync("changeTextColor");
    }

    private async Task changeTextSize() {
        await JSRuntime.InvokeVoidAsync("changeTextSize");
    }

}
