name: Build

on:
  schedule:
    - cron: '0 15 * * *'

  workflow_dispatch:

concurrency:
  group: buildgroup
  cancel-in-progress: true

jobs:
  build:
    name: Build Packages
    runs-on: ubuntu-latest
    container:
      image: 'archlinux:multilib-devel'
    steps:
      - uses: actions/checkout@v5
      - run: ls -al
